server:
  port: 8080

spring:
  application:
    name: employee-service

  datasource:
    url: jdbc:postgresql://teamhub-db-server.csfqwga84pcf.us-east-1.rds.amazonaws.com:5432/employee_db
    username: priaccinnovation
    password: priaccinnovation
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        default_schema: public

  mail:
    host: smtp.gmail.com
    port: 587
    username: teamhub@priaccinnovations.ai
    password: tcqdeimyaodsmcqa
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: employee_group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer

websocket:
  endpoint: /ws
  allowed-origins: "*"

app:
  jwt:
    secret: "PRIACC_INNOVA_TION_A_SECURE_RANDOM_KEY_WITH_EMPLOYEE_MAMA_PROJECT_1234567890ABCDEF"
    expiration-ms: 86400000  # 1 day in milliseconds

  kafka:
    topics:
      - employee_service.public.announcement
      - employee_service.public.holiday
      - employee_service.public.leave_request
      - employee_service.public.performance_review
      - employee_service.public.users
      - employee_service.public.salary
      - employee_service.public.attendance

aws:
  access_key: AKIAXAUECRUMHH5CVJFC
  secret_key: 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
  region: us-east-1
  bucket: teamhub-storage

logging:
  level:
    org.springframework.kafka: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
